<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Demo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img alt="JS" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" />
  <ion-list class="ion-padding">
    <ion-item color="success" (click)="goToDetails('Dragon Ball', 'assets/Goku.jpg')">
      <ion-label>Dragon Ball</ion-label>
    </ion-item>
    <ion-item color="warning" (click)="goToDetails('Hunter Knights of the Zodiac', 'assets/ZodiacKnights.jpg')">
      <ion-label>Hunter Knights of the Zodiac</ion-label>
    </ion-item>
    <ion-item color="primary" (click)="goToDetails('Slam Dunk', 'assets/SlamDunk.jpg')">
      <ion-label>Slam Dunk</ion-label>
    </ion-item>
    <ion-item color="danger" (click)="goToDetails('Pokemon', 'assets/Pokemon.jpg')">
      <ion-label>Pokemon</ion-label>
    </ion-item>
    <ion-item color="secondary" (click)="goToDetails('Hunter X', 'assets/Hunterx.jpg')">
      <ion-label>Hunter X</ion-label>
    </ion-item>
  </ion-list>

</ion-content>